# docker-compose.override.yml
version: "3.1"
services:
  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017" # Пробрасываем порт Mongo наружу
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: